body{
    font-family: itc-american-typewriter,serif;
    font-weight: 500;
    font-style: normal;
    color: #FBF3DD;
    text-align: center;
    font-size: 28px;
}
/* .navbar{
    position: absolute;
    width: 100%;
} */

h1{
    font-size: 60px;
    text-align: center;
    font-family: almaq-refined, sans-serif;
    font-weight: 400;
    font-style: normal;
    animation-name: zoom;
    animation-duration: 1s;
}
h3{
    font-family: itc-american-typewriter,serif;
    font-weight: 500;
    font-style: normal;
    font-size: 22px;
    margin-top: 80px;
    margin-bottom: 0px;

}
h2{
    font-family: itc-american-typewriter,serif;
    font-weight: 500;
    font-style: normal;
    font-size: 22px;
    margin-bottom: 80px;

}
.tile{
    margin: 4rem 0;
    padding-bottom: 15px;
}
.card{
    background-color:  #343a40;

}
.card:hover{
    background-color:  rgba(52, 58, 64, 0.82);
}
.card-body img{
    width: 35px;
    height: 35px;
}
.bot{
    position: absolute;
    bottom: 0px;
}
.greenback{
    background-color: #2aad71;
}
i{
    color: #2aad71;
    margin: 20px;
}


a{
    text-decoration: none;
    color: #FBF3DD;
}
a:hover{
    color: #FBF3DD;
    text-decoration: none;
}
.getres:hover{
    color: #FBF3DD;
    box-shadow: 5px;
    background-color: #2aad71;
    border-color: #2aad71 !important;
}
.btn-primary:focus{
    box-shadow: none;
}


.btn-primary{
/* .btn-primary:active,
.btn-primary:visited,
.btn-primary:focus { */
    color: #FBF3DD;
    background-color: #343a40;
    border-color: #2aad71 ;
}
p{
font-family: interstate-mono, monospace;
font-weight: 400;
font-style: normal;
font-size: 16px;

}
.plist{
margin-top: 28px;
}
li{
font-size: 20px;
}
@keyframes zoom{
    0%{transform: translate(-1000px, 0px);}
    100%{transform: translate(0px, 0px);}
}
@keyframes jump{
    0%{transform: rotate(0deg) translateY(0px);}
    33%{transform: rotate(15deg) translateY(-3px);}
    66%{transform: rotate(-15deg) translateY(-3px);}
    100%{transform: rotate(0deg) translateY(0px);}
}
.iconjump{
    color: #FBF3DD;
    animation-name: jump;
    animation-duration: 1.5s;
}
